version: "3"

services:
        api:
          build: ./api
          command: npm run start
          restart: unless-stopped
          ports:
           - "3000:3000"
          #environment:
           - PORT=3000
          depends_on: 123
           - api_db
        
        api_db:
          image: mariadb:latest





